.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;

  .navbar-logo {
    width: 100px;
    height: 80px;
  }

  .links-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 100px;
    
    p {
      a {
        color: #fff;

      }
    }
  }

}