@import url('./components//Navbar/_Navbar.scss');
@import url('./components//Header//_Header.scss');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #151523;
}
